@import url('../public/font/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-cream-1;
    }
}

@layer components {
    .container {
        @apply max-w-none;
    }
    
    .heading-brand-small {
        @apply font-display text-[100px] leading-[120px] leading-none;
    }

    .heading-brand-medium {
        @apply font-display text-50px lg:text-140px leading-115;
    }

    .heading-brand-large {
        @apply font-display text-[80px] lg:text-[200px] lg:text-[18vh] leading-none;
    }

    .heading-sub {
        @apply text-18px lg:text-32px;
    }

    /* Header */
    .main-nav {
        @apply text-white space-y-5 fixed bg-blue-1 min-vh100 w-full top-0 text-[60px] lg:text-[90px] uppercase flex items-end invisible opacity-0 transition-[opacity,visibility,transform];

        ul {
            @apply w-full;
            
            li {
                @apply flex justify-center border-b border-white opacity-50 pointer-events-none;
                
                

                &:nth-child(3n + 1) {
                    a {
                        @apply justify-end;
                    }
                }

                &:nth-child(3n + 2) {
                    a {
                        @apply justify-center;
                    }
                }

                &:hover {
                    @apply opacity-100;

                    a {
                        @apply font-display;
                    }
                }

                a {
                    @apply block max-w-[810px] w-full flex pointer-events-auto;

                    
                }
            }
        }
    }

    /* BUTTONS */
    .button-secondary {
        cursor: pointer;
        
        svg {
            path {
                @apply transition-all ease-in-out duration-500;
            }
        }

        &:hover {
            position: relative;
            
            svg {
                .arrow-right-stretch_svg__s1 {
                    d: path('M0 5.6h45v1H0z');
                }
                .arrow-right-stretch_svg__s2 {
                    d: path('m40.7 12.1-.7-.7 5.3-5.3L40 .7l.7-.7 6 6.1z');
                }

                
            }
        }
    }

    /* Accordions */
    .grid-5 {
        grid-template-columns: 1fr 1fr 1fr 2.9fr min-content;
    }
    .grid-4-mob {
        grid-template-columns: 1fr 2fr  2.9fr min-content;
    }
    .grid-4-lg {
        grid-template-columns: 1fr 1fr  2.9fr min-content;
    }

    .grid-2-lg {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2-off-lg {
        grid-template-columns: 1.5fr 1fr;
    }

    .accordion-row {
        &:hover {
            .accordion-preview {
                @apply visible;
            }
        }

        &:last-child {
            @apply border-b;
        }

        .btn-toggle {
            @apply opacity-0 transition-opacity duration-500;
        }

        &.active {
            .btn-toggle {
                @apply opacity-100;
            }
        }
    }
    .accordion-group {
        &:hover {
            .accordion-row {
                @apply opacity-50;

                &:hover {
                    @apply opacity-100;
                }
            }
        }
    }

    

    /* Slides */
    .slides-container {
        .slide + .slide {
            @apply absolute left-0 top-0;
        }
    }

    /* WYSIWYG */
    .wysiwyg {
        p, ul, ol {
            @apply mb-4 lg:mb-7;

            &:last-child {
                @apply mb-0;
            }
        }
    }
    
    .cursor-wrap {
        @apply cursor-none overflow-hidden;

        .cursor {
            @apply pointer-events-none opacity-0 transition-opacity;

            &.active {
                @apply opacity-100;
            }
        }
    }

    .min-vh100-exHeadMob {
        min-height: calc( (var(--vh, 1vh) * 100) - 120px);
    }
    
    .min-vh100-exHeadDesk {
        min-height: calc( (var(--vh, 1vh) * 100) - 150px);
    }
}

/* Mapbox */
.mapboxgl-popup-content {
    @apply px-4 py-5;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    @apply font-sans flex items-start min-w-[270px];
}

.mapboxgl-popup-close-button {
    font-size: 29px;
    line-height: 15px;
    top: 15px;
    right: 15px;
    background: none !important;
    @apply outline-0 ml-3 static select-none;
}

.mapboxgl-popup-content {
    h3 {
    }
}

/* VH Hack */
:root {
	--vh: 1vh;
}

.min-vh100 {
    min-height: calc(var(--vh, 1vh) * 100);
}



.max-vh100 {
max-height: calc(var(--vh, 1vh) * 100);
}

.vh100 {
height: calc(var(--vh, 1vh) * 100);
}



.overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
}